.discover-container {
  width: 375px;
  max-width: 375;
  font-family: Cerebri Sans;
  margin: auto;
  box-sizing: border-box;
}

.discover-container .red-line {
  width: 62px;
  color: #ff5065;
  height: 3px;
  background: #ff5065;
  display: block;
}

.discover-container .header-content {
  width: 100%;
  color: white;
  position: relative;
  display: inline-block;
  margin-top: 16px;
}

.discover-container .header-content .text {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  padding-left: 10px;
}

.discover-container .header-content img {
  width: 95vw;
}

.discover-container h1 {
  font-size: 32px;
  margin-bottom: 0;
}

.discover-container h2 {
  font-size: 20px;
  margin-bottom: 0px;
  margin-top: 32px;
}

.discover-container .text h3 {
  margin-bottom: 10px;
}

.discover-container .header-content .text span {
  color: #e5e5e5;
}

.discover-container section.scrollable {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  margin-top: 16px;
}

.discover-container section.scrollable::-webkit-scrollbar {
  display: none;
}

.blue {
  color: #616ad2;
  float: right;
  margin-top: -23px;
  font-size: 16px;
}