.specialist-details {
  margin: 20px;
}

.specialist-details .header {
  display: grid;
  grid-template-areas: "img name name"" img qualification qualification";
}

.specialist-details .header img {
  grid-area: img;
  margin: 0;
}

.specialist-details .header h3 {
  grid-area: name;
  margin: 0;
  margin-top: 10px;
  font-size: 20px;
  color: #5a5958;
  font-weight: 500;
}

.specialist-details .header h4 {
  grid-area: qualification;
  margin: 0;
  color: #616AD2;
  font-size: 16px;
  font-weight: 500;
}

.specialist-details .summary {
  font-size: 16px;
  font-weight: normal;
  margin: 12px 0;
}

.specialist-details .rating>div {
  color: #616AD2;
  font-size: 16px;
  margin-bottom: 8px;
}

.specialist-details .rating i {
  margin-right: 4px;
  color: #FFDF00;
}

.specialist-details .location img {
  margin-right: 10px;
}

.specialist-details .location span {
  /* margin-top: -100px; */
  display: block;
  color: #616AD2;
  font-size: 20px;
}

.specialist-details .location {
  display: flex;
  margin-bottom: 10px;
}

.specialist-details .reviews .review-card .review-header {
  display: flex;
  align-content: flex-start;
}

.specialist-details .reviews h4 {
  color: #616AD2;
  font-size: 16px;
  font-weight: normal;
  margin-top: 10px;
}

.specialist-details .reviews .review-card .review-header h3 {
  margin-top: 10px;
  font-weight: normal;
}

.specialist-details .reviews .review-card .review-header p {
  margin: 12px 0;
}

.specialist-details .reviews .review-card .review-header img {
  width: 50px;
  margin-right: 20px;
  color: #5A5958;
}

.back {
  font-size: 24px;
  color: #616AD2;
  margin-bottom: 20px;
  display: block;
  margin-top: 0;
}

.appointment {
  background: linear-gradient(180deg, #616AD2 0%, #775BD1 100%);
  border-radius: 40px;
  width: 100%;
  height: 60px;
  color: white;
  font-size: 23px;
}